.App{
  width:100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-width:600px){
  body{ font-size: 1rem; }
}
@media only screen and (min-width:900px){
  body{ font-size: 1.1rem; }
}
@media only screen and (min-width:1200px){
  body{ font-size: 1.2rem; }
}
@media only screen and (min-width:1600px){
  body{ font-size: 2.3em; }
}
@media only screen and (min-width:2200px){
  body{ font-size: 3.5rem; }
}

body{
  background-color:rgba(20, 33, 56, .96) ;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  will-change: opacity;
  transform: translateZ(0);
  transform: translate3d(100);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}
@keyframes fadeInAnimation {
  0% { opacity: 0;}
  20%{opacity: 0;}
  100% {opacity: 1;}
}
